<h1>Boatspirations</h1>

<%= image_tag 'sweetboatcoolguy.JPG', :id => 'boat_image' %>

<div id='quote'>
    <p>"Once no longer stubbed out, a quotation and attribution shall go here."</p>
    <p>—Benjamin Franklin</p>
</div>

<%= link_to 'Another', root_path, :id => :another_link %>